.modal-close-button {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: -15px;
    right: -15px;
    background: #F7F7F7;
    border: 2px solid #666666;
    box-sizing: border-box;
    cursor: pointer;
    &:after {
      display: block;
      content: '\2716';
      width: 19px;
      height: 19px;
      color: #666666;
      overflow: hidden;
      font-size: 23px;
      position: absolute;
      top: 5px;
      left: 7px;
    }
  }