.sizes-table-modal {
    background-color: #FFFFFF;
    padding: 28px;
    position: relative;
    width: 700px;
    top: 30%;

    @media (max-width:800px) {
        width: 85%;
    }

    @media (max-width:576px) {
        padding: 10px;
    }

    &__table-cell {
        border: 1px solid #E5E5E5;
        height: 24px;
        width: 57px;
        font-size: 12px;
        text-transform: uppercase;
        vertical-align: middle;
        @media (max-width:576px) {
            height: 33px;
        }
    }

    &__table-cell_headline {
        background-color: #EFEEEE;
    }

    &__table-cell_first-column {
        width: 188px;
    }

    .sizes-table-modal__close-button {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        top: -15px;
        right: -15px;
        background: #F7F7F7;
        border: 2px solid #666666;
        box-sizing: border-box;
        cursor: pointer;
        @media (max-width:576px) {
            width: 28px;
            height: 28px;
            top: -15px;
            right: -15px;   
        }
        &:after {
            display: block;
            content: '\2716';
            width: 19px;
            height: 19px;
            color: #666666;
            overflow: hidden;
            font-size: 23px;
            position: absolute;
            top: 5px;
            left: 7px;
            @media (max-width:576px) {
                width: 17px;
                height: 17px;
                color: #666666;
                overflow: hidden;
                font-size: 18px;
                position: absolute;
                top: 3px;
                left: 5px;
            }
        }
    }
}