.poster {
  &__content {
    max-width: 1600px;
    margin: 0 auto 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    
    @media (max-width:1024px) {
      margin: 0 auto 20px;
    }
    
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width:425px) {
      margin: 0 auto 15px;
    }
  }

  &__frame{
    text-decoration: none;
    width: 100%;
    overflow: hidden;
  }

  &__img{
    width: 100%;
  }
}