@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Semibold.ttf');
    src: local('../fonts/Lato-Semibold.woff'), local('../fonts/Lato-Semibold.woff'),
        url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Semibold.woff') format('woff'),
		url('../fonts/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
    src: local('../fonts/Lato-Regular.woff'), local('../fonts/Lato-Regular.woff'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
    src: local('../fonts/Lato-Light.woff'), local('../fonts/Lato-Light.woff'),
        url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.woff') format('woff'),
		url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.ttf');
    src: local('../fonts/Lato-Medium.woff'), local('../fonts/Lato-Medium.woff'),
        url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Medium.woff') format('woff'),
		url('../fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
    src: local('../fonts/Lato-Bold.woff'), local('../fonts/Lato-Bold.woff'),
        url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #E5E5E5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #333;
}